{% load static %}

<div class="row">
    <div class="col-lg-12 text-center footwrap">
        <p> All projects posted on GitHub 
            <a href="https://github.com/simsid124" target="_blank">@simsid124</a>
        </p>
        <p> 
            <span class="years"></span> 
            <b>&copy;</b> Copyrights Reserved with SIMAR SIDHU
        </p>
    </div>
</div>
</div>
</footer>
<!-- end footer section-->

<!-- glightbox -->
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
<!-- shufle -->
<script src="{% static 'javascript/vendor/shuffle.js' %}"></script>
<!-- script -->
<script src="{% static 'javascript/main.js' %}"></script>