{% load static %}

<div class="col-lg-4 text-center text-lg-left">
    <div class="abouthero">
        <h3>Simar Sidhu</h3>
    </div>
</div>
<div class="col-lg-8 pl-lg-5 text-center text-lg-left">
    <div class="infoabout">
        <p class="infoabout__title">

        </p>
        <div class="row  text-center text-lg-left">
            <div class="col-lg-6">
                <ul class="infoabout__list">
                    <li>
                        <div class="infoabout__wrap">
                            <span class="mt-4 mb-2 d-block infoabout__title">FULL NAME</span>
                            <p>Simar Sidhu</p>
                        </div>
                    </li>
                    <li>
                        <div class="infoabout__wrap">
                            <span class="mt-4 mb-2 d-block infoabout__title">EMAIL ADDRESS</span>
                            <p>simarsidhu0102@gmail.com</p>
                        </div>
                    </li>
                    <li>
                        <div class="infoabout__wrap">
                            <span class="mt-4 mb-2 d-block infoabout__title">PHONE NUMBER</span>
                            <p>+91 8288012012</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="infoabout__list">
                    <li>
                        <div class="infoabout__wrap">
                            <span class="mt-4 mb-2 d-block infoabout__title">ADDRESS</span>
                            <p>Eldeco Greens, Jalandhar-144001, Punjab-India</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <a href="{% url 'resume-simar_pdf' %}" download class="btn linkbtn aboutlink mt-4">
            Download Resume
        </a>
    </div>
</div>