{% load static %}

<div class="col-lg-6 pr-lg-5">
    <div class="contactdetail">
        <h3 class="contactdetail__title mb-4">Let's get in touch</h3>
        <p>
            Please feel free to send me a message. 
            <br>I'll get in touch with you as soon as possible.
        </p>
        <ul class="contactdetail__list">
            <li>
                <span class="contactdetail__span">
                    457 Eldeco Greens, Jalandhar-144001, Punjab-India
                </span>
            </li>
            <li>
                <span class="contactdetail__span">
                        +91 8288012012
                </span>
            </li>
            <li>
                <span class="contactdetail__span">
                    simarsidhu0102@gmail.com
                </span>
            </li>
        </ul>
        <ul class="contactdetail__sosmed">
            <li>
                <a href="https://www.linkedin.com/in/simar-sidhu12/"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/Simar_Sidhu124"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://github.com/simsid124"><i class="fa-brands fa-github"></i></a>
            </li>
        </ul>
    </div>
</div>

<div class="col-lg-6">
    <div class="contactform">
        
        <!-- form contact -->
        <form id="formcontact" class="contactform" method= "POST">
            {% csrf_token %}
            <!-- input contact wrap -->
            <div class="contactform__form-group row">
                <div class="col-lg-12 pt-4">
                    <label for="yourname" class="pb-2 ">Input your name</label>
                    <input type="text" id="yourname" class="contactform__inputtext input-control " name="name" data-name="name" />
                </div>
            
                <!-- input contact wrap -->
                <div class="col-lg-12 pt-4">
                    <label for="yourmail" class="pb-2 ">Input your mail</label>
                    <input type="email" id="yourmail" class="contactform__inputtext input-control " name="email" data-name="email" />
                </div>
                    
                <!-- input contact wrap -->
                <div class="col-lg-12 pt-4">
                    <label for="comment" class="pb-2">Input your message</label>
                    <textarea class="contactform__comentarea input-control" id="comment" name="comment" data-name="comment"></textarea>
                    <button id="submitbutton" class="btn mt-5  contactform__submitbuton linkbtn mt-5 mb-3" type="submit" onclick="showAlert()">
                        Get in Touch
                    </button>
                </div>
            </div>
        
        </form>
        <script>
            function showAlert() {
                alert("Thank you for contacting me. I will get back to you soon.");
            }
        </script>
    </div>
</div>