{% load static %}

<div class="col-lg-6">
    <div class="counterwrap">
        <p class="counterwrap__counternum">
            <span class="counterwrap__counter" data-Speed="5000">15</span><span class="icon">+</span>
        </p>
        <p style="color:#fff;">Projects completed</p>
    </div>
</div>
<div class="col-lg-6">
    <div class="counterwrap">
        <p class="counterwrap__counternum">
            <span class="counterwrap__counter" data-Speed="5000">2</span>
        </p>
        <p style="color:#fff;">On Projects</p>
    </div>
</div>