{% load static %}

<div class="inner">
    <div class="abouthero text-center">
        <h3>My Skills</h3>
    </div>
    
    <div class="container">

        <!-- web: html, css, js -->
        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/html.png' %}" alt="html" class="skill-icon" />
                </div>
                <h4>HTML5</h4>
            </div>
            <p>
                Expert in creating semantic and accessible web content.
            </p>
        </div>
        
        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/css.png' %}" alt="css" class="skill-icon" />
                </div>
                <h4>CSS</h4>
            </div>
            <p>
                Skilled in designing responsive web pages with Flexbox and Grid.
            </p>
        </div>

        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/js.png' %}" alt="js" class="skill-icon" />
                </div>
                <h4>Javascript</h4>
            </div>
            <p>
                Proficient in developing interactive web applications.
            </p>
        </div>

        <!-- php, laravel -->
        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/php.png' %}" alt="php" class="skill-icon" />
                </div>
                <h4>PHP</h4>
            </div>
            <p>
                Experienced in dynamic web development with PHP.
            </p>
        </div>

        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/mysql.png' %}" alt="mysql" class="skill-icon" />
                </div>
                <h4>MySQL</h4>
            </div>
            <p>
                Adept at managing relational databases.
            </p>
        </div>

        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/laravel.png' %}" alt="laravel" class="skill-icon" />
                </div>
                <h4>Laravel</h4>
            </div>
            <p>
                Skilled in building robust applications with Laravel.
            </p>
        </div>

        <!-- android: kotlin, java -->
        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/kotlin.png' %}" alt="kotlin" class="skill-icon" />
                </div>
                <h4>Kotlin</h4>
            </div>
            <p>
                Proficient in Android development using Kotlin.
            </p>
        </div>

        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/java.png' %}" alt="java" class="skill-icon" />
                </div>
                <h4>Java</h4>
            </div>
            <p>
                Experienced in building enterprise-level web applications 
                and developing Android apps with Java.
            </p>
        </div>

        <!-- java web frameworks-->
        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/springboot.png' %}" alt="springboot" class="skill-icon" />
                </div>
                <h4>Springboot</h4>
            </div>
            <p>
                Skilled in creating scalable microservices with Spring Boot.
            </p>
        </div>

        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/hibernate.png' %}" alt="hibernate" class="skill-icon" />
                </div>
                <h4>Hibernate</h4>
            </div>
            <p>
                Capable of handling database interactions using Hibernate.
            </p>
        </div>

        <!-- python -->
        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/python.png' %}" alt="python" class="skill-icon" />
                </div>
                <h4>Python</h4>
            </div>
            <p>
                Well-versed in Python for web development and programming.
            </p>
        </div>

        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/django.png' %}" alt="django" class="skill-icon" />
                </div>
                <h4>Django</h4>
            </div>
            <p>
                Adept at creating scalable web applications with Django and REST framework.
            </p>
        </div>

        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/flask.png' %}" alt="flask" class="skill-icon" />
                </div>
                <h4>Flask</h4>
            </div>
            <p>
                Competent in rapid prototyping with Flask.
            </p>
        </div>

        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/comms.png' %}" alt="communication" class="skill-icon" />
                </div>
                <h4>Communication</h4>
            </div>
            <p>
                Effective communicator with clear technical explanations.
            </p>
        </div>

        <div class="skillbox">
            <div class="skill-title">
                <div class="img">
                    <img src="{% static 'asset/skills/public.png' %}" alt="public-speaking" class="skill-icon" />
                </div>
                <h4>Public Speaking</h4>
            </div>
            <p>
                Confident speaker with experience in presenting and leading.
            </p>
        </div>
    
    </div>
</div>